
.painels{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.painels .country{
  margin-bottom: 100px;
  margin-top: 100px;
}

@media (min-width:700px){
  .painels{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 25px;
  }
  .maxWidth{
    width: 900px;
    margin-left: 50px;
  }
}
