* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Tahoma, sans-serif;
  list-style-type: none;
}
body{
  background: #f0f0f7;
  background-image: url('assets/img/word3.svg');
  background-size: cover;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right;
}

/* LOADER CSS */



